[Unit]
Description=RyoMonitor auth gateway
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/ryo-mon-auth.env
ExecStart=/opt/ryo-monitor/app/mon-auth.py
Restart=always
RestartSec=3
User=root
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadOnlyPaths=/opt/ryo-monitor/app

[Install]
WantedBy=multi-user.target
